* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}
body {
  /* background-color: rgba(255,248,220,.7); */
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
  padding-left: 10px;
}
.my-containers-1 {
  width: 98%;
  display: flex;
  flex-direction: row;
  gap: 350px;
  background-color: #284042;
  color: #fff;
  height: 70px;
}
.my-containers-1 h3 {
  margin-left: 20px;
  font-size: 15px;
  margin-top: 10px;
}
.my-containers-1 input[type="text"] {
  width: 240px;
  height: 24px;
  margin-top: 20px;
}
.my-containers-1 .Third-div p {
  margin-top: 24px;
  margin-left: -300px;
  font-size: 12px;
}

.my-containers-2 h2 {
  font-size: 32px;
}

.my-containers-3 .navbar {
  width: 76.8%;
  border: none;
  border-bottom: 2px solid rgba(97, 93, 93, 0.3);
  margin-top: 10px;
}
.my-containers-3 .navbar ul {
  list-style-type: none;
}
.my-containers-3 .navbar ul li {
  display: inline-block;
  margin-left: 20px;
}
.my-containers-3 .navbar ul li:hover{
    background-color: black;
    color:white;
}
.my-containers-3 .navbar #workspace {
  margin-left: 0px;
}
.my-containers-4 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 20px;
}
.my-containers-4 .hero-container-1 {
  width: 650px;
  height: 250px;
  border: none;
  position: relative;
  background: url("job-img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #f4dfed;
  background-blend-mode: multiply;
  z-index: -1;
}
.my-containers-4 .hero-container-1 .hero-content-container {
  width: 350px;
  height: 180px;
  background-color: rgba(40, 64, 66, 0.8);
  z-index: 1;
  color: #fff;
  margin-top: 20px;
  transform: all 1.1s ease-in-out;
}
.my-containers-4 .hero-container-1 .hero-content-container h4 {
  padding-left: 10px;
  padding-top: 10px;
}
.my-containers-4 .hero-container-1 .hero-content-container p {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 15px;
}
.my-containers-4 .hero-container-1 .hero-content-container .mybtn {
  width: 100px;
  height: 24px;
  border: 2px solid #86e586;
  color: #fff;
  background: transparent;
  margin-left: 10px;
  margin-top: 10px;
}
.my-containers-4 .hero-container-2 {
  width: 350px;
  height: 250px;
  background-color: #284042;
  color: #fff;
  padding-left: 20px;
  padding-top: 20px;
  position: relative;
}
.my-containers-4 .hero-container-2 h3::after {
  content: " Platinum ";
  opacity: 0.8;
  font-size: 20px;
}
.my-containers-4 .hero-container-2::after {
  content: " ";
  width: 300px;
  border-bottom: 2px solid rgba(191, 187, 187, 0.889);
  position: absolute;
  top: 34%;
}
.my-containers-4 .hero-container-2 h4 {
  font-size: 20px;
}
.my-containers-4 .hero-container-2 p {
  margin-left: 10px;
  margin-top: 8px;
}
.my-containers-4 .hero-container-3 .btn1 {
  background-color: orange;
  border: none;
  height: 32px;
  width: 100px;
}

.my-containers-5 h2 {
  font-size: 32px;
}
.my-containers-6 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 40px;
}
.my-containers-6 .card {
  width: 400px;
  height: 300px;
  background-color: hsl(0, 0%, 94%);
  padding-top: 20px;
  padding-left: 20px;
  border: none;
  border-top: 2px solid #284042;
  transition: all 1.1s ease-in-out;
}
.my-containers-6 .card:hover {
  border: none;
  transform: scale(1.1);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.mybtn-1,
.mybtn-2,
.mybtn-3 {
  margin-top: 155px;
  width: 50px;
  height: 32px;
  border: 2px solid #72e962;
  transition: all 1.1s ease-in-out;
}
.mybtn-1:hover {
  background-color: #000;
  color: #fff;
  width: 100px;
}
.mybtn-2:hover {
  background-color: #000;
  color: #fff;
  width: 100px;
}
.mybtn-3:hover {
  background-color: #000;
  color: #fff;
  width: 100px;
}
.mybtn-1 {
  margin-top: 170px;
}
.btn2 {
  background-color: hsl(0, 0%, 94%);
  width: 1240px;
  margin-left: -20px;
  height: 32px;
  border: none;
  margin-top: -10px;
  transition: all 0.2s ease-in-out;
}
.btn2:active {
  background-color: #eb667c;
  color: #fff;
}
.my-containers-7 {
  display: flex;
  flex-direction: row;
  padding-left: 43px;
  margin-top: 20px;
}
.my-containers-7 .box {
  width: 309px;
  height: 28px;
  border: 2px solid #284042;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
  position: relative;
}
.my-containers-7 .box-1::after {
  content: " ";
  background-color: #284042;
  width: 0px;
  height: 28px;
  position: absolute;
  z-index: -1;
  object-fit: fill;
  left: -50%;
  transition: all 1.1s ease-in-out;
}
.my-containers-7 .box-1:hover::after {
  content: "";
  background-color: #284042;
  color: #fff;
  width: 609px;
  height: 28px;
  position: absolute;
  z-index: -1;
  object-fit: fill;
}
.box-1 {
  transition: all 1.1s ease-in-out;
}
.box-1:hover {
  color: #fff;
}

.my-containers-7 .box-2::after {
  content: " ";
  background-color: #284042;
  width: 0px;
  height: 28px;
  position: absolute;
  z-index: -1;
  object-fit: fill;
  left: -50%;
  transition: all 1.1s ease-in-out;
}
.my-containers-7 .box-2:hover::after {
  content: "";
  background-color: #284042;
  color: #fff;
  width: 609px;
  height: 28px;
  position: absolute;
  z-index: -1;
  object-fit: fill;
}
.box-2 {
  transition: all 1.1s ease-in-out;
}
.box-2:hover {
  color: #fff;
}

.my-containers-7 .box-3::after {
  content: " ";
  background-color: #284042;
  width: 0px;
  height: 28px;
  position: absolute;
  z-index: -1;
  object-fit: fill;
  left: -50%;
  transition: all 1.1s ease-in-out;
}
.my-containers-7 .box-3:hover::after {
  content: "";
  background-color: #284042;
  color: #fff;
  width: 609px;
  height: 28px;
  position: absolute;
  z-index: -1;
  object-fit: fill;
}
.box-3 {
  transition: all 1.1s ease-in-out;
}
.box-3:hover {
  color: #fff;
}

.my-containers-7 .box-4::after {
  content: " ";
  background-color: #284042;
  width: 0px;
  height: 28px;
  position: absolute;
  z-index: -1;
  object-fit: fill;
  left: -50%;
  transition: all 1.1s ease-in-out;
}
.my-containers-7 .box-4:hover::after {
  content: "";
  background-color: #284042;
  color: #fff;
  width: 609px;
  height: 28px;
  position: absolute;
  z-index: -1;
  object-fit: fill;
}
.box-4 {
  transition: all 1.1s ease-in-out;
}
.box-4:hover {
  color: #fff;
}
#my-cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 40px;
}
.new-card-container .card {
  width: 400px;
  height: 300px;
  background-color: hsl(0, 0%, 94%);
  padding-top: 20px;
  padding-left: 20px;
  border: none;
  border-top: 2px solid #284042;
  transition: all 1.1s ease-in-out;
}
.new-card-container .card:hover {
  border: none;
  transform: scale(1.1);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.my-containers-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my-containers-8 h2 {
  font-size: 32px;
  margin-top: 20px;
  margin-left: -420px;
}
.my-containers-8 h2::after {
  content: "(Web)";
  font-size: 20px;
  margin-left: 20px;
  color: #1f3334;
  margin-bottom: 20px;
}
.my-first-field {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.field-1 input[type="text"] {
  width: 200px;
  height: 34px;
  border-radius: 6px;
  padding-left: 20px;
}
.field-1 input[type="text"]:focus {
  outline: none;
}
.field-1 input[type="email"] {
  width: 200px;
  height: 34px;
  border-radius: 6px;
  padding-left: 20px;
}
.field-1 input[type="email"]:focus {
  outline: none;
}
.field-2 input[type="text"] {
  width: 200px;
  height: 34px;
  border-radius: 6px;
  padding-left: 20px;
}
.field-2 input[type="text"]:focus {
  outline: none;
}
.field-2 .myList {
  width: 200px;
  height: 34px;
  border-radius: 6px;
  padding-left: 20px;
}
.field-2 .myList:focus {
  outline: none;
}
.field-2 {
  display: flex;
  flex-direction: column;
}
textarea {
  width: 480px;
  height: 150px;
  border-radius: 6px;
  padding-left: 20px;
  border: 2px solid #000;
}
textarea:focus {
  outline: none;
}
.my-second-field {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.my-third-field {
  margin-left: -60%;
}
input[type="submit"] {
  width: 100px;
  height: 32px;
  margin-left: 100px;
  border: none;
  background-color: orange;
}
.another-box {
  width: 309px;
  height: 28px;
  background-color: #284042;
  z-index: -1;
}
